


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color:#ebebeb;
}


.campo{
background-color: white;
width: 100vw;
}
.header{
background-color: yellow;
padding: 25px 30px ;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2;
position: relative;
}
.button-input{
padding: 10px;
border: 0;
cursor: pointer;
}
.Form{
background-color: white;
width: 100%;
max-width: 30%;
display: flex;
justify-content: space-between;
box-shadow: 1px 4px 10px rgba(0,0,0,0.8) ;
}
.header input{
border: 0;
padding: 15px 20px;
outline: none;
}
.cart-header{
background: 0;
border: 0;
font-size: 30px;
margin-right: 50px;
position: relative;
cursor: pointer;
}
.contador-header{
background-color: red;
color: white;
padding: 15px 15px;
border-radius: 50%;
height: 20px;
width: 20px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
bottom: 25px;
right: 20px;
font-size: 15px;
}
.veiculo-header{
background: 0;
border: 0;
font-size: 30px;
margin-right: 50px;
position: relative;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.contador-veiculo-header{
font-size: 15px;
margin-left: -15px;
background-color: red;
border-radius: 50%;
padding: 10px 10px;
height: 25px;
width: 25px;
display: flex;
align-items: center;
justify-content: center;
color: white;
margin-left: -40px;
margin-bottom: 30px;

}




.buttons-header{
display: flex;
align-items: center;
width: 100px;
}

.search{
display: grid;
grid-template-columns:repeat(5,200px);
justify-content: center;
margin-right: 150px;
gap: 2rem;
padding: 10px 20px 32px ;
@media(max-width: 1500px){
grid-template-columns:repeat(4,200px)
}
@media(max-width: 1265px){
grid-template-columns: repeat(3,200px)
}
@media(max-width: 1031px){
grid-template-columns: repeat(2,200px)
}
@media(max-width: 798px){
margin-left: -100px;
}
@media(max-width: 700px){
grid-template-columns: repeat(1,200px);
}


@media(max-width: 465px){
grid-template-columns: repeat(1,150px);

}



}

.min-conteudo{
padding: 20px 20px;
background-color:red;
width: 100%;
height: 100%;
max-height: 150px;
margin-bottom: 50px;
color: white;
font-weight: 700;
display: flex;
flex-direction: column;
box-shadow: 1px 4px 10px rgba(0,0,0,0.8);
@media(max-width: 465px){
max-height:160px;
}




}
.button-card{
position: absolute;
font-size:20px;
background: 0;
border: 0;
display: flex;
margin-left: 85%;
margin-top: 5px;
background: red;
opacity: 0;
cursor: pointer;
}
.conteudo{
cursor: pointer;
max-height: 340px;
height: 100vh;
margin-bottom: 100px;
position: relative;

}
.conteudo:hover .button-card{
opacity: 1;
}


.imagem-card{
width: 100vw;
max-width: 100%;
margin-bottom: -10px;
}
.conteudo:hover{
 box-shadow: 1px 4px 10px rgba(0,0,0,0.8);   
}

.preço-card{
margin-bottom: 10px;
background-color: green;
text-align: center;
}

.carrinho-div{
background-color: #222;
right:  0;
top: 100px;
position: absolute;
width: 100%;
max-width: 250px;
z-index: 1;
word-wrap: break-word;
word-break: break-all;
color: white;
padding-bottom: 50px;
display: flex;
flex-direction: column;

}
.conteudo-carrinho{
display: flex;
gap: 5px;
align-items: center;
}

.carrinho-imagem{
width: 100px;
}
.carrinho-preço{
font-size: 18px;
margin-bottom: 10px;
margin-top: 5px;
padding: 0 5px;
}
.carrinho-titulo{
font-size: 15px;
padding: 0 5px;}

.button-carrinho-remove{
position: absolute;
margin-left: 120px;
margin-top: 5px;
cursor: pointer;
}
.carrinho-resultado{
color: white;
font-size: 20px;
margin-top: 30px;
display: flex;
justify-content: center;
background-color: yellow;
padding: 10px;
color: black;
font-weight: 700;
font-size: 15px;
}

.button-concluircompra{
padding: 10px 10px;
margin-top: 5px;
color: white;
background-color: green;
font-weight: 800;
border: 3px solid black;
cursor: pointer;
}

.conteudo-veiculo{
display: flex;
gap: 5px;
align-items: center;
}

.veiculo-imagem{
width: 100px;
}
.veiculo-preço{
font-size: 18px;
margin-bottom: 10px;
margin-top: 5px;
padding: 0 5px;
}
.veiculo-titulo{
font-size: 15px;
padding: 0 5px;}

.button-veiculo-remove{
position: absolute;
margin-left: 120px;
margin-top: 5px;
cursor: pointer;
}
.veiculo-resultado{
color: white;
font-size: 20px;
margin-top: 30px;
display: flex;
justify-content: center;
background-color: yellow;
padding: 10px;
color: black;
font-weight: 700;
font-size: 15px;
}


.veiculo-div{
background-color: #222;
right:  0;
top: 50px;
position: absolute;
width: 100%;
max-width: 250px;
z-index: 1;
word-wrap: break-word;
word-break: break-all;
color: white;
padding-bottom: 50px;
display: flex;
flex-direction: column;
padding-top: 30px;    
}

.button-apagarTudo{
margin-bottom: 10px;
background: none;
border: 0;
font-size: 25px;
width: 20px;
margin: 20px auto;
color: white;
cursor: pointer;
opacity: 0;
transition: 0.5s;
}
.carrinho-div:hover .button-apagarTudo{
opacity: 1;
}
.button-apagarTudo-veiculo{
background: none;
border: 0;
font-size: 25px;
width: 20px;
margin: 10px auto;
color: white;
cursor: pointer;
opacity: 0;
transition: 0.5s;
padding-top: 20px;

}
.veiculo-div:hover .button-apagarTudo-veiculo{
opacity: 1;
}





